<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainUI_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{266,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,76}}</string>
                <key>sourceSize</key>
                <string>{266,76}</string>
            </dict>
            <key>mainUI_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{266,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,76}}</string>
                <key>sourceSize</key>
                <string>{266,76}</string>
            </dict>
            <key>mainUI_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{266,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,76}}</string>
                <key>sourceSize</key>
                <string>{266,76}</string>
            </dict>
            <key>mainUI_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mainUI_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,80}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUIList.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dcc5867a7baf9e7bd594d218fb1d5f2$</string>
            <key>textureFileName</key>
            <string>mainUIList.png</string>
        </dict>
    </dict>
</plist>
